body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #d8e7eb;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #a7bed3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.input-container form {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 35%;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-container button {
  background-color: #6697c5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #99a1a8;
}

input[type="text"] {
  width: calc(100% - 100px);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

input[type="text"]:focus {
  outline: none;
  border-color: #a7bed3;
}

button {
  padding: 10px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(0, 255, 128, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

.entry {
  background-color: #a7bed3;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
}

.entry span {
  flex-grow: 1;
}

.entry button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.entry button:hover {
  color: #849dab;
}

.quantity {
  color: #6697c5;
  background-color: white;
  border-color: #6697c5;
  border-radius: 8px;
}

.add-item {
  color: #6697c5;
  background-color: white;
  border-color: #6697c5;
  border-radius: 10px;
}

.centered-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.clear-button {
  border-radius: 5px;
  border-color: white;
}
